<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haiphat.com.bds.nghetuvan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="haiphat.com.bds.nghetuvan"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.SplashActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nghetuvan.cf"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.auth.LoginActivity" />
        <activity android:name=".view.auth.RegisterActivity" />
        <activity android:name=".view.auth.ForgotPasswordActivity" />
        <activity
            android:name=".view.home.HomeActivity"
            android:label="@string/title_action_bar_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.profile.SettingActivity" />
        <activity android:name=".view.profile.HistoryTransactionsActivity" />
        <activity android:name=".view.news.DetailNewsActivity" />
        <activity android:name=".view.partner.PartnerDetailActivity" />
        <activity android:name=".view.profile.ContactEmailActivity" />

        <!-- <provider android:authorities="com.facebook.app.FacebookContentProvider1487886458000394" -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:exported="true"/> -->

        <activity android:name=".view.news.PostCommentActivity" />
        <activity android:name=".view.profile.UpdateInformationActivity" />
        <activity android:name=".view.profile.ChangePasswordActivity" />
        <activity android:name=".view.home.ShowListHomeActivity" />
        <activity android:name=".view.home.DetailHomeActivity" />
        <activity android:name=".view.home.TestActivity" />
        <activity android:name=".view.education.EducationDetailActivity" />
        <activity android:name=".view.online.DetailOnlineSalesActivity"></activity>
    </application>

</manifest>